img {
    margin-left: 70px;
    margin-top: 30px;
    width: 500px;
    height: 600px;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    margin-left: 150px;
    gap: 15px;

}

span {
    font-size: 22px;
}

.rate {
    span {
        color: red;
        font-size: 30px;
    }
}

h1 {
    font-size: 45px;
}

.price {
    span {
        color: red;
        font-size: 30px;
    }
}

.tittle {
    span {
        font-size: 30px;
        color: gray;
    }
}

.des {
    span {
        font-size: 25px;
        width: 90px;
        color: gray;
    }
}

.img-container {
    img {
        width: 100px;
        height: 100px;
    }
}

.comments-container {
    display: flex;
}

.right-part {
    span {
        margin-left: 190px;
        position: relative;
        bottom: 80px;
    }

    button {
        position: relative;
        bottom: 83px;
        margin-left: 10px;
        background-color: rgb(46, 46, 177);
        color: white;
        border-radius: 5px;
        width: 60px;
        height: 30px;
        cursor: pointer;
        font-size: 16px;
        border: none;
    }
}
button{
    background-color: rgb(46, 46, 177);
    color: white;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    font-size: 19px;
}