<ng-container *ngIf="(currentProduct | async) as product">
    <div class="products">
            <img src="{{product.image}}" alt="">
            <div class="details">
                <div class="tittle">
                    <h1>Tittle</h1>
                    <span>
                        {{product.title}}
                    </span>
                </div>
                <hr>
                <div class="des">
                    <h1>Description</h1>
                    <span>
                        {{product.description}}
                    </span>
                </div>
                <hr>
                <div class="price">
                    <h1>Price</h1>
                    <span>
                        {{product.price}}$
                    </span>
                </div>
                <hr>
                <div class="rate">
                    <h1>Rating</h1>
                    <span>
                        {{product.rating.rate}}🌟
                    </span>
                </div>
                <hr>
            </div>
    </div>
</ng-container>