    <div class="categories">
        <h1>Categories</h1>
        <ul>
            <li routerLink="/Jewelery">Jewelery</li>
        </ul>
        <ul>
            <li routerLink="/electronics">electronics</li>
        </ul>
        <ul>
            <li routerLink="/mens clothing">men's clothing</li>
        </ul>
        <ul>
            <li routerLink="/womens clothing">women's clothing</li>
        </ul>
    </div>
    <div class="container">
        <div class="container-single" *ngFor="let item of products | async">
            <div class="container-details">
                <img src="{{item.image}}" alt="">
            </div>
            <div class="container-description">
                <span>{{item.title}}</span>
                <span>Price {{item.price}}$</span>
                <span>Rate {{item.rating.rate}}🌟</span>
                <button (click)="getproduct(item.id)">View Details</button>
            </div>
        </div>
    </div>
  