body {
    background-color: rgb(213, 204, 187);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 20px auto;

}

.container-single {
    width: 250px;
    height: 350px;
    margin: 40px;
    overflow: hidden;
    padding: 60px;
    border-radius: 7px;
    // background-color: #a6a4a4;
    gap: 55px;
    border: 1px solid gray;
    
    img {
        width: 205px;
        height: 255px;
        border-radius: 30px;
    }

}

button{ 
    cursor: pointer;
    background-color: rgb(55, 55, 180);
    border: none;
    color: white;
    border-radius: 5px;
    height: 33px;

}

.container-description{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.categories{
    display: flex;
    justify-content: center;
    align-items: center;

    ul, li {
        cursor: pointer;
    }
}
.title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
}