<div class="form-container">
    <form>
        <input type="search" placeholder="searchProducts" name="search" [(ngModel)]="searchTerm" (keyup)="search($event)">
    </form>
</div>
<div class="categories">
    <h1>Categories</h1>
    <ul>
        <li routerLink="/Jewelery">Jewelery</li>
    </ul>
    <ul>
        <li routerLink="/electronics">electronics</li>
    </ul>
    <ul>
        <li routerLink="/mens clothing">men's clothing</li>
    </ul>
    <ul>
        <li routerLink="/womens clothing">women's clothing</li>
    </ul>
    <div>
        <img routerLink="/cart" style="cursor: pointer;"
            src="../../../assets/emptyshoppingcart_shopingcart_carritodelacompravacio_4565.png" alt="">
        <span>{{totalItem}}</span>
    </div>
</div>
<div class="container" >
    <div class="container-single"  *ngFor="let item of products  | filter:searchKey:'title'">
        <div class="container-details">
            <img (click)="getproduct(item.id)" style="cursor: pointer;" src="{{item.image}}" alt="">
        </div>
        <div class="container-description">
            <span class="title">{{item.title}}</span>
            <span><strong>Price:</strong> {{item.price}}$</span>
            <span>Rate {{item.rating.rate}}🌟</span>
            <!-- <button (click)="getproduct(item.id)">View Details</button> -->
            <br>
            <button (click)="addToCart(item)">Add To Cart</button>
        </div>
    </div>
</div>