.items {
    width: 100%;
    height: 50px;
    background-color: rgb(83, 83, 217);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    input {
        margin-left: 40px;
        width: 340px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid gray;
    }

    // span {
    //     margin-right: 30px;
    //     padding: 3px;
    //     padding-left: 4px;
    //     padding-right: 4px;
    //     border-radius: 50%;
    //     background-color: red;
    //     color: white;
    // }
    .flex-img{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .home {
        padding: 30px;
        width: 20px;
        height: 20px;
    }
}
.register{
    margin-right: 30px;
}
img{
    cursor: pointer;
}
.categories{
    display: flex;
    justify-content: center;
    align-items: center;

    ul, li {
        cursor: pointer;
        list-style: none;
    }
}